<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM
"http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd"> <!-- log4jdbc를 사용하기 위해서 왼쪽 코드 변경 및 추가 -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m%n" />
		</layout>
	</appender>
	
	<!-- Application Loggers -->
	<logger name="com.kg.myapp">
		<level value="info" />
	</logger>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>
	
	<!-- jdbc logger -->
	<!--  logger는 logger끼리 작성 순서가 중요  -->
	<logger name="jdbc.sqltiming">
	<level value="info"/>
	</logger>
	
	<logger name="jdbc.sqlonly">
	<level value="info"/>
	</logger>
	
	<logger name="jdbc.connection">
	<level value="info"/>
	</logger>
	
	<logger name="jdbc.audit"> <!-- 모든것을 다보여 줌, 사용에 주의! -->
	<level value="info"/>
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="warn" />
		<appender-ref ref="console" />
	</root>
	
</log4j:configuration>
